.form-group > div {
	border: 1px solid #DDD;
	border-radius: 3px;
	padding: 6px;
}

legend {
	margin-bottom: 5px;	
	border: none;
}

.custom-slider.rzslider .rz-bar {
  background: #AAA;
  height: 3px;
}
.custom-slider.rzslider .rz-selection {
  background: #96DAF6;
}

.custom-slider.rzslider .rz-pointer {
  left: -10;
  top: -10px;
  width: 20px;
  height: 20px;
  background-color: #96DAF6;
}

.rz-pointer:focus {
  outline: none;
}

.custom-slider.rzslider .rz-pointer:after {
  display: none;
}

header {
  background-color: #666;
  margin-bottom: 20px;
  
}

a {
  color: #96DAF6;
  font-size: 28px;
}

.rz-pointer {
  box-shadow: 0px 0px 5px 1px #888888;
}