
<!-- ======================================================================= -->
<!-- app/html/main.html template -->

<!-- main container -->

<div class="container border shadow" ng-controller="MainCtrl as MainCtrl" ng-cloak>
  <!-- BEGIN Grey box -->
  <div>
    <div class="row grey">     
      <div class="col-sm-12">
        <div class="row">
          <div class="col-md-5">

            <div class="form-group">
              <legend>Server ID</legend>
              <div class="d-flex flex-row justify-content-around">
                  <label class="form-check-label" ng-repeat="id in MainCtrl.data.serverids">
                    <input type="radio" ng-model="MainCtrl.data.serverid" name="server-id" value="{{ id }}">
                    {{ id }}
                  </label>
              </div>
            </div>

          </div>
          <div class="col-md-7">

            <div class="form-group">
              <legend>Plot options</legend>
              <div class="d-flex flex-row justify-content-around">

                <div class="col-xs-2">
                  <label>
                    Y maximum: 
                    <input type="number" name="ymax" min="0.1" max="1000" ng-model="MainCtrl.data.yMax">
                  </label>
                </div>

                <div class="col-xs-1">
                </div>

                <div class="col-xs-9">
                  <label>Look back days:</label>
                  <rzslider rz-slider-model="MainCtrl.data.lookBackDays" rz-slider-options="MainCtrl.slider.options" class="custom-slider"></rzslider>
                </div>


                
                  <!-- <input type="number" name="lookbackdays" ng-model="MainCtrl.data.lookBackDays" min="2" max="20"> -->
                

                

                
              </div>
            </div>

          </div>
        </div>

        <!-- The plot -->
        <div class="row">
          <div class="col-sm-12">
            <img class="img-fluid border" style="width: 100%" ng-src="{{ MainCtrl.assembleUrl() }}"/>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- END grey box -->
</div> <!-- END container -->
