
<!-- ======================================================================= -->
<!-- app/html/main.html template -->

<!-- main container -->

<div class="container border shadow" ng-controller="MainCtrl as MainCtrl" ng-cloak>
  <!-- BEGIN Grey box -->
  <div>
    <div class="row grey">     
      <div class="col-sm-12">
        <div class="row">

          <div class="col-md-5">
            <div class="form-group">
              <legend>Server ID</legend>
              <div class="d-flex flex-row justify-content-around">
                  <label class="form-check-label" ng-repeat="id in MainCtrl.data.serverids">
                    <input type="radio" ng-model="MainCtrl.data.serverid" name="server-id" value="{{ id }}">
                    {{ id }}
                  </label>
              </div>
            </div>
          </div>

          <div class="col-md-7">
            <div class="form-group">
              <legend>Plot options</legend>
              <div class="d-flex flex-row justify-content-around">

                <div class="col-xs-2">
                  <label>
                    Y max:
                    <br>
                    <select ng-model="MainCtrl.data.yMax" ng-options="yMax.value as yMax.label for yMax in MainCtrl.data.yMaxs"></select>
                  </label>
                </div>

                <div class="col-xs-10">
                  <label>Look back days: {{ MainCtrl.startDate.toDateString().substring(4) }} - {{ MainCtrl.currentDate.toDateString().substring(4) }}</label>
                  <rzslider rz-slider-model="MainCtrl.data.lookBackDays" rz-slider-options="MainCtrl.slider.options" class="custom-slider" ng-change="MainCtrl.dateFunc()"></rzslider>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- The plot -->
        <div class="row">
          <div class="col-sm-12">
            <img class="img-fluid border" style="width: 100%" ng-src="{{ MainCtrl.assembleUrl() }}"/>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- END grey box -->
</div> <!-- END container -->
